.add-task-popup{
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.411);

}

.add-task-popup svg{
    fill: var(--secondary-text);
    cursor: pointer;
}

.container-atp{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.atp-box{
    padding: 10px 0px;
    width: 70%;
    max-width: 700px;
    /* height: 50vh; */
    border-radius: 16px;
    background-color: #f5f3f1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.atp-box-close{
    position: absolute;
    top: 0;
    right: 0;
}

.atp-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.task-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.task-name label{
    position: absolute;
    top: -40px;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 5px;
   background-color: #ff0000;
   color: white;
   padding: 10px 20px;
   border-radius: 24px;
}

.task-name label svg{
    fill: white;
}


.task-name input{
    border: none;
    outline: none;
    background-color: white;
    height: 40px;
    border-radius: 12px;
    padding: 10px 20px;
    width: 40vw;
    max-width: 400px;
    font-size: 18px;
}

.atp-middle{
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.atp-btn{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;
}

.relative{
    position: relative;
}

.atp-btn-start{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
}

.atp-btn-end{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.atpm-btn{
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

.atpm-btn.active{
    background-color: var(--secondary);
}

.atp-desc-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    /* margin-bottom: 20px; */
}

.atp-desc-section p{
    font-weight: bold;
    margin-bottom: 10px;
}

.atp-desc-section textarea{
    resize: vertical;
    /* color: white; */
    outline: none;
    border: none;
    min-height: 100px;
    max-height: 200px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
}

.atp-bottom{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    padding-right: 20px;
}

.atp-bottom button{
    border-radius: 24px;
}

.add-tags-modal{
    position: fixed;
    z-index: 10;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.411);
}

.atm-box{
    background-color: #f5f3f1;
    border-radius: 16px;
    padding: 30px 30px;
    position: relative;
}

.atmb-close{
    position: absolute;
    top: 5px;
    right: 5px;
}

.atmb-btn{
    margin: 10px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.atm-box input{
    outline: 0;
    border: 0;
    border-radius: 6px;
    padding: 8px 5px;
}

.atmb-input-sec{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.atmb-input-sec button{
    width: 70%;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.tag-name{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 24px;
    font-weight: 500;
    background-color: var(--secondary);
}