.navbar{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    width: 35vw;
    max-width: 350px;
}

.navbar button{
    outline: none;
    border: none;
}

.navbar a{
    text-decoration: none;
    color: black;
    width: 100%;
}

.logo-section{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
}

.nav-logo{
    width: 25px;
    height: 25px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
    color: var(--secondary-text);
}

.buttons-section svg{
    fill: #2e2e2e;
}

.bs-1 {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.buttons-section li{
    border-bottom: 0.5px solid #808080;
    position: relative;
}

.buttons-section li:last-child{
    border: none;
}

.bs-btn {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    gap: 10px;
    align-items: center;
    z-index: 10;
}

.bs-btn.active{
    background-color: var(--nav-btn-hov);
    padding-left: 15px;
}

.bs-btn.active:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--secondary);
}

.bs-btn:hover{
    background-color: var(--nav-btn-hov);
}

.bs-btn:last-child{
    border: none;
}

.bs-2{
    display: flex;
    flex-direction: column;
    list-style: none;
}