.top-bar{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0px 10px;
    border-radius: 8px;
}

.tb-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar-section input{
    background-color: #f5f3f1;
    border: none;
    outline: none;
    padding-left: 5px;
    width: 100%;
    border-radius: 8px;
    height: 40px;
    font-size: 16px;
}

.add-task-btn{
    background-color: var(--secondary);
    border-radius: 16px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    gap: 5px;
    padding: 0px 8px;
    height: 40px;
}