* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg: #F5F3EF;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    color: black;
    background-color: var(--main-bg);
    font-family: 'Montserrat';
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 30px;
}