* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg: #F5F3EF;
    --nav-btn-hov: #fcf8e7;
    --secondary: #f7df41;
    --secondary-text: #2e2e2e;
}

button {
  all: unset;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    color: black;
    background-color: var(--main-bg);
    font-family: 'Montserrat';
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 30px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.round-white{
    background-color: white;
    border-radius: 12px;
}

/* .svg-black svg{
    fill: gray;
} */