---
import { Navbar } from "../components/Navbar";
import { TopBar } from "../components/TopBar";
import Layout from "../Layout/Layout.astro";
---
<Layout>
    <Navbar client:load />
	<section class="main-content">
		<TopBar client:load/>
	</section>
</Layout>
